{% load i18n %}
<html>
	<head>
		<title>
			{% block title %}
				{% trans "Kiberknjižnica" %}
			{% endblock %}
		</title>
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
		{% block extrahead %}  {% endblock %}
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
					<ul class="nav">
						<li>
						<img src="{{ STATIC_URL }}img/logo_clipart2_test2.jpg" ></img>
						</li>
						<li>
						<a href="{% url onas %}">{% trans "O nas" %}</a>
						</li>
						<li>
						<a href="{% url blog %}">{% trans "Blog" %}</a>
						</li>
						<li>
						<a href="{% url katalog %}">{% trans "Katalog" %}</a>
						</li>
						<li>
						<a href="{% url skener %}">{% trans "Skener" %}</a>
						</li>
					</ul>
					</div>
					</div>

					{% block right_block %}  {% endblock %}

					<div class="container">
						<div class="content">
							{% block content %}  {% endblock %}
						</div>
					</div>

	</body>
</html>
