{% extends "base.html" %}
{% load i18n %}


{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/paging.js"></script>
<script type="text/javascript" >
$(document).ready(function() {
	$.extend( $.fn.dataTableExt.oStdClasses, {
		"sSortAsc": "header headerSortDown",
		"sSortDesc": "header headerSortUp",
		"sSortable": "header"
	} );
	$('.books-table').dataTable({
		"oLanguage": {
			"sEmptyTable":     "V tabeli ni podatkov",
			"sInfo":           "Prikazujem od _START_ do _END_ od skupaj _TOTAL_ knjig",
			"sInfoEmpty":      "Prikazujem od 0 do 0 od skupaj 0 knjig",
			"sInfoFiltered":   "(filtriranih _MAX_ rezultatov)",
			"sInfoPostFix":    "",
			"sInfoThousands":  ",",
			"sLengthMenu":     "Prikazujem _MENU_ rezultatov",
			"sLoadingRecords": "Nalagam...",
			"sProcessing":     "Obdelujem...",
			"sSearch":         "Išči:",
			"sZeroRecords":    "Iskalni niz ni vrnil rezultata",
			"oPaginate": {
				"sFirst":    "Prva",
				"sLast":     "Zadnja",
				"sNext":     "Naslednja",
				"sPrevious": "Prejšna"
			},
			"oAria": {
				"sSortAscending":  ": razvrsti naraščajoče",
				"sSortDescending": ": razvrsti padajoče"
			}
		},
		"sPaginationType": "bootstrap"
	});

} );
</script>

{% endblock %}

{% block content %}

{% autoescape off %}

	{{ flatpage.content }}

{% endautoescape %}

{% block books-table %}
<table class="books-table table table-striped table-hover">
	<thead>
	<tr>
		<th>{% trans "Naslov" %}</th>
		<th>{% trans "Avtor" %}</th>
		<th>{% trans "Leto izdaje" %}</th>
		<th>{% trans "Zaloznik" %}</th>
		<th>{% trans "Zanr" %}</th>
		<th>{% trans "Na voljo" %}</th>
		<th>{% trans "Rezervirano" %}</th>
		<th>{% trans "Citalnisko gradivo" %}</th>
	</tr>
	</thead>
	<tbody>
	{% for book in books %}
	<tr>
		<td>{{book.title}}</td>
		<td>
			{% for author in book.get_authors %}
			{{author}}{% if not forloop.last %}; {% endif %}
			{% endfor %}
		</td>
		<td>{{book.pub_date|default_if_none:"/"}}</td>
		<td>{{book.publisher|default_if_none:"/"}}</td>
		<td>
			{% if book.genres %}
			{% for genre in book.get_genres %}
			{{genre}}{% if not forloop.last %}; {% endif %}
			{% endfor %}
			{% endif %}
		</td>
		<td>
			{% if book.available %}
			<span class="badge badge-success">Da</span>
			{% else %}
			<span class="badge badge-important">Ne</span>
			{% endif %}

		</td>
		<td>
			{% if book.reserved %}
			<span class="badge badge-important">Da</span>
			{% else %}
			<span class="badge badge-success">Ne</span>
			{% endif %}
		</td>
		<td>
			{% if book.reading_room_only  %}
			<span class="badge badge-info">Da</span>
			{% else %}
			<span class="badge badge-success">Ne</span>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% endblock %}
