{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% autoescape off %}

	{{ flatpage.content }}

{% endautoescape %}

{% block books-table %}
<table class="table table-striped table-hover">
	<tr>
		<th>{% trans "Naslov" %}</th>
		<th>{% trans "Avtor" %}</th>
		<th>{% trans "Leto izdaje" %}</th>
		<th>{% trans "Zaloznik" %}</th>
		<th>{% trans "Zanr" %}</th>
		<th>{% trans "Na voljo" %}</th>
		<th>{% trans "Rezervirano" %}</th>
		<th>{% trans "Citalnisko gradivo" %}</th>
	</tr>
	{% for book in books %}
	<tr>
		<td>{{book.title}}</td>
		<td>
			{% for author in book.get_authors %}
			{{author}}{% if not forloop.last %}; {% endif %}
			{% endfor %}
		</td>
		<td>{{book.pub_date|default_if_none:"/"}}</td>
		<td>{{book.publisher|default_if_none:"/"}}</td>
		<td>{{book.gendre|default_if_none:"/"}}</td>
		<td>
			{% if book.available %}
			<span class="badge badge-success">Da</span>
			{% else %}
			<span class="badge badge-important">Ne</span>
			{% endif %}

		</td>
		<td>
			{% if book.reserved %}
			<span class="badge badge-important">Da</span>
			{% else %}
			<span class="badge badge-success">Ne</span>
			{% endif %}
		</td>
		<td>
			{% if book.reading_room_only  %}
			<span class="badge badge-info">Da</span>
			{% else %}
			<span class="badge badge-success">Ne</span>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

{% endblock %}
