{% extends "base.html" %}
{% block content %}

{{ flatpage.content }}

{% block books-table %}
<table class="table table-striped table-hover">
	<tr>
		<th>Naslov</th>
		<th>Avtor</th>
		<th>Leto izdaje</th>
		<th>Zaloznik</th>
		<th>Zanr</th>
		<th>Na voljo</th>
		<th>Rezervirano</th>
		<th>Citalnisko gradivo</th>
	</tr>
	{% for book in books %}
	<tr>
		<td>{{book.title}}</td>
		<td>{{book.author}}</td>
		<td>{{book.pub_date}}</td>
		<td>{{book.publisher}}</td>
		<td>{{book.gendre}}</td>
		<td>
			{% if book.available %}
			<span class="badge badge-success">Da</span>
			{% else %}
			<span class="badge badge-important">Ne</span>
			{% endif %}

		</td>
		<td>
			{% if book.reserved %}
			<span class="badge badge-important">Da</span>
			{% else %}
			<span class="badge badge-success">Ne</span>
			{% endif %}
		</td>
		<td>
			{% if book.reading_room_only  %}
			<span class="badge badge-info">Da</span>
			{% else %}
			<span class="badge badge-success">Ne</span>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

{% endblock %}
