{% extends "base.html" %}
<!doctype html>
{% block nonfluid %}
		<div class="container">
			<table class="table table-striped table-hover">
				<tr>
				  <th>Naslov</th>
				  <th>Avtor</th>
				  <th>Leto izdaje</th>
				  <th>Zaloznik</th>
				  <th>Navoljo</th>
				  <th>Rezervirano</th>
				  <th>Citalnisko gradivo</th>
				</tr>
				{% for book in books %}
				<tr>
					<td>{{book.title}}</td>
					<td>{{book.author}}</td>
					<td>{{book.pub_date}}</td>
					<td>{{book.publisher}}</td>
					<td>{{book.available}}</td>
					<td>{{book.reserved}}</td>
					<td>{{book.reading_room_only}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
{% endblock %}
